doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
		script(src='/javascripts/prettyprint.js')
		script(src="/javascripts/main.js")

		.userLogin
		a(href="/") Go home
		br
		//- .button.text-center.loginFacebook(type='button', class='btn btn-primary btn-sm', href="/auth/facebook") Login via Facebook
		a(href="/auth/facebook")
		//- .button.text-center.loginGoogle(type='button', class='btn btn-primary btn-sm') Login via Google
		a(href="/auth/Google")
		//- .button.text-center.logout(type='button', class='btn btn-default btn-sm') Logout
		a(href="/logout")
		h5.col-md-12 You are not logged in.