extends layout

block content 
	.container 
		.userLogin
			form.form-inline(role= 'form')
				.form-group
					label.sr-only(for='exampleInputEmail2') Enter email
					input#exampleInputEmail2.form-control(type='email',placeholder ='enter email')
				.form-group
					label.sr-only(for='exampleInputPassword2') Password
					input#exampleInputPassword2.form-control(type='password',placeholder ='Password')
				.checkbox
					label
						input(type='checkbox')
						| Remember me
				button.btn.btn-default(type='submit') Login 
				button.btn.btn-default(type='submit') Sign Up
				h1 Save Yourself
		

		.budgetEntry 
			.personalIncome
				//- row.col-md-3.col-md-offset-2.text-center.text-primary Enter your monthly Income
				row.col-md-5.col-md-offset-3.text-center.text-primary
					.input-group.input-group-lg
							span.input-group-addon Monthly income
							input.income.form-control(name="budget", type = "text", placeholder="Budget")
					//- input.budget.form-control(name="budget", type = "text", placeholder="Budget")
			.panel-group#accordian
				.panel.panel-default.col-md-5.col-md-offset-3
					.panel-heading
						.panel-title
							a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Enter your account info
					.panel-collapse.collapse.in#collapseOne
						.panel-body 
							select.col-md-7.form-control.creditcard 
								.input-group.input-group-md
									option American Express
									option Citi
									option Chase
									option Bank of America
									option Key Bank
							.input-group.input-group-md.username
								span.input-group-addon Bank account username:  
								input.bankusername.form-control(name="username", type = "text", placeholder="Username")
							.input-group.input-group-md.password
								span.input-group-addon Bank account password:  
								input.bankpassword.form-control(name="password", type = "password", placeholder="Password")	
							.input-group.input-group-md.acctid
								span.input-group-addon Bank account password:  
								input.bankacctid.form-control(name="password", type = "password", placeholder="Password")
							.button.acctsubmit(type='button', class='btn btn-primary') Submit

			//- .button(type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo") Test Collapse
			//- .collpase.in#demo Stuff in here

			.personalDebt
				//- row.col-md-3.col-md-offset-2.text-center.text-primary Enter your monthly Income
				row.col-md-5.col-md-offset-3.text-center.text-primary
					.input-group.input-group-lg
							span.input-group-addon Credit Card Debt: 
							input.yourdebt.form-control(name="debt", type = "text", placeholder="DEBT")

			.category
				row.col-md-3.col-md-offset-2.text-center.text-primary How much can you pay off?
					select.form-control.payoffdropdown 
			.currentSpend
				row.col-md-2.text-center.text-primary  Target Pay Off Amount	
					input.payoffgoal.form-control.payoffgoal(name="budget", type = "text", placeholder="Budget")
			.percent
				row.col-md-2.text-center.text-primary  % of Income	
					input.percentdebt.form-control(name="budget", type = "text", placeholder="Budget")
			//- .category
			//- 	row.col-md-3.col-md-offset-2.text-center.text-primary Select Category
			//- 		select.form-control.productdropdown 
			//- .currentSpend
			//- 	row.col-md-2.text-center.text-primary  Current Spend	
			//- 		input.budget.form-control.currentspend(name="budget", type = "text", placeholder="Budget")
			//- .percent
			//- 	row.col-md-2.text-center.text-primary  % of Income	
			//- 		input.percentIncome.form-control(name="budget", type = "text", placeholder="Budget")
			//- row.col-md-2.col-md-offset-5.text-center.text-primary  Goal Budget	
			//- 	input.goalbudget.form-control(name="budget", type = "text", placeholder="Budget")
			//- row.col-md-2.text-center.text-primary  % of Income	
			//- 	input.percentbudget.form-control(name="budget", type = "text", placeholder="Budget")
			//- row.col-md-3.col-md-offset-2.text-center.text-primary  By this date:
			//- 	input.goaldate.form-control(name="budget", type = "date", placeholder="Budget")
			//- row.col-md-2.text-center.text-primary  Saved:
			//- 	input.goalsave.form-control(name="budget", type = "text", placeholder="Amt Saved")
			row.col-md-3.col-md-offset-2.text-center.text-primary  By this date:
				input.goaldate.form-control(name="budget", type = "date", placeholder="Budget")
			row.col-md-3.text-center.text-primary  Your balance will be less than:
				input.goalsave.form-control(name="budget", type = "text", placeholder="Amt Saved")
