extends layout

block content 
	.container 
		h1 Test Final Project
		.userInfo
			form.form-inline(role= 'form')
				.form-group
					label.sr-only(for='exampleInputEmail2') Enter email
					input#exampleInputEmail2.form-control(type='email',placeholder ='enter email')
				.form-group
					label.sr-only(for='exampleInputPassword2') Password
					input#exampleInputPassword2.form-control(type='password',placeholder ='Password')
				.checkbox
					label
						input(type='checkbox')
						| Remember me
				button.btn.btn-default(type='submit') Sign in
		.budgetEntry 
			row.col-md-3.text-center.text-primary Select Category
				select.form-control.productdropdown 
			row.col-md-2.text-center.text-primary  Current Spend	
				input.budget.form-control(name="budget", type = "text", placeholder="Budget")
			row.col-md-2.text-center.text-primary  % of Income	
				input.budget.form-control(name="budget", type = "text", placeholder="Budget")
			row.col-md-5.text-center.text-primary Compare Results
				div.priceresults
					row.col-md-4
						#disabledinput.input.form-control(name="budget", type = "text", placeholder="disabled") Result
					row.col-md-4
						#disabledinput.input.form-control(name="budget", type = "text", placeholder="disabled") Result
					row.col-md-4
						#disabledinput.input.form-control(name="budget", type = "text", placeholder="disabled") Result
			row.col-md-2.col-md-offset-3.text-center.text-primary  Goal Budget	
				input.budget.form-control(name="budget", type = "text", placeholder="Budget")
			row.col-md-2.text-center.text-primary  % of Income	
				input.percentbudget.form-control(name="budget", type = "text", placeholder="Budget")
			row.col-md-5.text-center.text-primary
			row.col-md-3.text-center.text-primary  By this date:
				input.budget.form-control(name="budget", type = "date", placeholder="Budget")
			row.col-md-2.text-center.text-primary  Saved:
				input.budget.form-control(name="budget", type = "text", placeholder="Amt Saved")
