doctype 5
html
	head
		title= title
	
	body
		block content
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootswatch/3.0.1/flatly/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/test.css')	
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="http://code.highcharts.com/highcharts.js")
		script(src='/javascripts/prettyprint.js')
		script(src="/javascripts/main.js")
	.navbar.navbar-inverse
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='#') Save Yourself
		.navbar-collapse.collapse.navbar-inverse-collapse
			ul.nav.navbar-nav
				li.active
					a(href='/account') Home
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						| Select Action 
						b.caret
					ul.dropdown-menu
						li
							a(href='#') Create Goal
						li
							a(href='#') Check Goals 
			ul.nav.navbar-nav.navbar-right
				li
					a(href='/logout') Logout
				//- li.dropdown
				//- a.dropdown-toggle(href='#', data-toggle='dropdown')
				//- 	| Dropdown
				//- 	b.caret
				//- 	ul.dropdown-menu
				//- 	li
				//- 	a(href='#') Action
				//- 	li
				//- 	a(href='#') Another action
				//- 	li
				//- 	a(href='#') Something else here
				//- 	li.divider
				//- 	li
				//- 	a(href='#') Separated link

blockquote
	.container 
		row
			.col-lg-12
				.page-header
					h1#container Save Yourself
				.mainpage
					.jumbotron
						h1 Save now, play later 
						p This is some text about my app
		row.col-md-12.text-center.text-primary 
			.input-group.input-group-md.col-md-offset-2
				.button.newgoal.text-center(type='button', class='btn btn-success btn-lg') Set New Savings Goal
				.button.checkgoal.text-center(type='button', class='btn btn-info btn-lg') Check Past Savings Goals
	

		.budgetEntry
			.panel-group#accordian
				.panel.panel-default.col-md-6.col-md-offset-3
					.panel-heading
						.panel-title
							a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Select to enter your account info
					.panel-collapse.collapse#collapseOne
						.panel-body 
							select.col-md-7.form-control.creditcard 
								.input-group.input-group-md
									option US Bank
									option Citi
									option Chase
									option Bank of America
									option Key Bank
							.input-group.input-group-md.username
								span.input-group-addon Bank account username:  
								input.bankusername.form-control(name="username", type = "text", placeholder="Username")
							.input-group.input-group-md.password
								span.input-group-addon Bank account password:  
								input.bankpassword.form-control(name="password", type = "password", placeholder="Password")	
							.input-group.input-group-md.acctid
								span.input-group-addon Credit Card #:  
								input.bankacctid.form-control(name="password", type = "password", placeholder="Password")
							.personalIncome
								.input-group.input-group-md
										span.input-group-addon Monthly income
										input.incomeEntry.form-control(name="budget", type = "text", placeholder="Budget")
							.input-group.input-group-md.acctid
								span.input-group-addon Email  
								input.email.form-control(name="email", type = "email", placeholder="EmailAddress")
							.input-group.input-group-md.other
								span.input-group-addon City
								input.city.form-control(name="city", type = "text", placeholder="zip")			
							.button.acctsubmit(type='button', class='btn btn-primary') Submit
				.personalDebt
					//- row.col-md-3.col-md-offset-2.text-center.text-primary Enter your monthly Income
					row.col-md-6.col-md-offset-3.text-center.text-primary
						.input-group.input-group-lg
								span.input-group-addon Credit Card Debt: 
								input.yourdebt.form-control(name="debt", type = "text", placeholder="DEBT")
				.personalIncome
					//- row.col-md-3.col-md-offset-2.text-center.text-primary Enter your monthly Income
					row.col-md-6.col-md-offset-3.text-center.text-primary
						.input-group.input-group-lg
								span.input-group-addon Monthly income
								input.income.form-control(name="budget", type = "text", placeholder="Budget")
			.percent
				row.col-md-3.col-md-offset-3.text-center.text-primary
					.input-group.input-group-md
						span.input-group-addon % Income
						input.percentdebt.form-control(name="budget", type = "text", placeholder="Budget")
			.currentSpend
				row.col-md-3.text-center.text-primary 
					.input-group.input-group-md
						span.input-group-addon Payoff Goal 
						input.payoffgoal.form-control.payoffgoal(name="budget", type = "text", placeholder="Budget")
			row.col-md-3.col-md-offset-3.text-center.text-primary
				.input-group.input-group-md
						span.input-group-addon Goal Date
						input.goaldate.form-control(name="budget", type = "date", placeholder="Date")
			row.col-md-3.text-center.text-primary 
				.input-group.input-group-md
						span.input-group-addon Goal Balance 
						input.col-md-3.goalbalance.form-control(name="budget", type = "text", placeholder="Amt Saved")
			row.setgoalbutton
				.col-md-4
				.button.col-md-4.goalset(type='button', class='btn btn-danger') Set Goal


		.pastGoal
			.listgoals
			.deals#deals
				p Congratulations! You have reached your goal! Go ahead, treat yourself. Take a look at some small rewards for your smart spending.
			.goalfail
				p Sad face - you didn't reach your goal. Here are some resources to help with your budget planning:
			.goalreached
				p
			//- .pastDebt 
			//- 	row.col-md-3.text-center.text-primary Your Balance Was: 
			//- 		input.income.form-control(name="debtbalance", type = "number", placeholder="past balance")
			//- .targetdate
			//- 	row.col-md-2.col-md-offset-3.text-center.text-primary  Goal Set for:
			//- 		input.goaldate.form-control(name="goaldate", type = "date", placeholder="Goal Date")
			//- .targetbalance	
			//- 	row.col-md-3.text-center.text-primary  Goal Balance:
			//- 		input.col-md-2.goalbalance.form-control(name="budget", type = "number", placeholder="Goal Balance")
			//- .actualbalance
			//- 	row.col-md-5.col-md-offset-3.text-center.text-primary
			//- 				.input-group.input-group-lg
			//- 						span.input-group-addon Actual Balance: 
			//- 						input.yourdebt.form-control(name="debt", type = "text", placeholder="DEBT")
			//- .goalsuccess
			//- 	row.col-md-3.col-md-offset-4.text-center.text-primary  Did you reach your goal??

		.postGoal
			p Thanks for entering your goal!! Come back to check if you've met your savings and receive rewards!	
			p Some budgeting suggestions below based on your goal
			.chart#chart
			p Overachiever?
			row.col-md-12.text-center.text-primary 
						.input-group.input-group-md.col-md-offset-2
							.button.newgoal.text-center(type='button', class='btn btn-success btn-lg') Set New Savings Goal
							.button.checkgoal.text-center(type='button', class='btn btn-info btn-lg') Check Past Savings Goals

		.deals#deals
		
	//- footer
	//- 	row
	//- 		.col-lg-12
	//- 			p Made by 
	//- 			p 


