doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
		script(src='/javascripts/prettyprint.js')
		script(src="/javascripts/main.js")

	.container 
		h1 Save Yourself
		.userLogin
		a(href="/") Go home
		br
		a(href="/logout").button.text-center.logout(type='button', class='btn btn-primary btn-sm') Logout
		h5.col-md-12 You are logged in.

		.actionbuttons
			.button.col-md-3.col-md-offset-3.newgoal(type='button', class='btn btn-success btn-lg') Set New Savings Goal
			.button.col-md-3.checkgoal(type='button', class='btn btn-info btn-lg') Check Past Savings Goals

		

		.budgetEntry
			.panel-group#accordian
				.panel.panel-default.col-md-5.col-md-offset-3
					.panel-heading
						.panel-title
							a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Select to enter your account info
					.panel-collapse.collapse#collapseOne
						.panel-body 
							select.col-md-7.form-control.creditcard 
								.input-group.input-group-md
									option US Bank
									option Citi
									option Chase
									option Bank of America
									option Key Bank
							.input-group.input-group-md.username
								span.input-group-addon Bank account username:  
								input.bankusername.form-control(name="username", type = "text", placeholder="Username")
							.input-group.input-group-md.password
								span.input-group-addon Bank account password:  
								input.bankpassword.form-control(name="password", type = "password", placeholder="Password")	
							.input-group.input-group-md.acctid
								span.input-group-addon Credit Card #:  
								input.bankacctid.form-control(name="password", type = "password", placeholder="Password")
							.personalIncome
								.input-group.input-group-md
										span.input-group-addon Monthly income
										input.income.form-control(name="budget", type = "text", placeholder="Budget")
							.button.acctsubmit(type='button', class='btn btn-primary') Submit
				.personalDebt
					//- row.col-md-3.col-md-offset-2.text-center.text-primary Enter your monthly Income
					row.col-md-5.col-md-offset-3.text-center.text-primary
						.input-group.input-group-lg
								span.input-group-addon Credit Card Debt: 
								input.yourdebt.form-control(name="debt", type = "text", placeholder="DEBT")
				.personalIncome
					//- row.col-md-3.col-md-offset-2.text-center.text-primary Enter your monthly Income
					row.col-md-5.col-md-offset-3.text-center.text-primary
						.input-group.input-group-lg
								span.input-group-addon Monthly income
								input.income.form-control(name="budget", type = "text", placeholder="Budget")
			.category
				row.col-md-3.col-md-offset-2.text-center.text-primary How much can you pay off?
					select.form-control.payoffdropdown 
			.currentSpend
				row.col-md-2.text-center.text-primary  Target Pay Off Amount	
					input.payoffgoal.form-control.payoffgoal(name="budget", type = "text", placeholder="Budget")
			.percent
				row.col-md-2.text-center.text-primary  % of Income	
					input.percentdebt.form-control(name="budget", type = "text", placeholder="Budget")
			row.col-md-3.col-md-offset-2.text-center.text-primary  By this date:
				input.goaldate.form-control(name="budget", type = "date", placeholder="Budget")
			row.col-md-3.text-center.text-primary  Your balance will be less than
				input.col-md-2.goalbalance.form-control(name="budget", type = "text", placeholder="Amt Saved")
			.button.col-md-3.goalset(type='button', class='btn btn-danger') Set Goal
			row.col-md-3.col-md-offset-2.text-center.text-primary  Did you reach your goal??
				input.col-md-3.goalsave.form-control(name="budget", type = "text", placeholder="Yes/No")
			.goalset
			.button.acctsubmit(type='button', class='btn btn-primary') Set Goal

		.pastGoal
			.goaldate
				row.col-md-2.col-md-offset-3.text-center.text-primary Date Goal Set 
					input.yourdebt.form-control(name="goaldate", type = "date", placeholder="Date of last visit")
			.pastDebt 
				row.col-md-3.text-center.text-primary Your Balance Was: 
					input.income.form-control(name="debtbalance", type = "number", placeholder="past balance")
			.targetdate
				row.col-md-2.col-md-offset-3.text-center.text-primary  Goal Set for:
					input.goaldate.form-control(name="goaldate", type = "date", placeholder="Goal Date")
			.targetbalance	
				row.col-md-3.text-center.text-primary  Goal Balance:
					input.col-md-2.goalbalance.form-control(name="budget", type = "number", placeholder="Goal Balance")
			.actualbalance
				row.col-md-5.col-md-offset-3.text-center.text-primary
							.input-group.input-group-lg
									span.input-group-addon Actual Balance: 
									input.yourdebt.form-control(name="debt", type = "text", placeholder="DEBT")
			.goalsuccess
				row.col-md-3.col-md-offset-4.text-center.text-primary  Did you reach your goal??

			.deals#deals


