body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-group{
	padding: 2px;
}
.btn, .checkbox{
	margin: 2px;
}

.budgetEntry, .pastGoal, .postGoal{
display: none;
}